*.ini
*.env
configuration/
__pycache__/
*.py[cod]

zillowObject/__pycache__/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.spyproject/
.RData
.Rhistory
.DS_Store
schools_operation.py
